body{
    
    box-sizing: inherit; 
    background: #dad7cd; 
}

/* main info */
.login--container,
.signup--main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
    text-align: center; /* Center the text inside the container */
    margin: 0 auto; /* Center the container horizontally */
    max-width: 400px; /* Adjust the maximum width as needed */
}

.username--container,
.password--container,
.email--container{
    display: flex;
    flex-direction: column;
}

.user--label,
.email--label,
.password--label{
    font-size: 1.5em;
    text-align: left;
    margin-left: 0.5em;
}

.user--input,
.email--input,
.password--input{
    height: 2.4em;
    border-radius: 1em;
    border: 0;
    margin-top: 0.5em;
    margin-bottom: 2em;
    padding-left: 0.7em;
}

.user--icon,
.email--icon,
.password--icon{
    pointer-events: none;
    position: relative;
    top: -24px;
    left: 175px;
    color: gray;
}

.signup--submit{
    margin-top: 4em;
    width: 10em;
    height: 4em;
    align-self: center;
    font-size: 1em;
    font-weight: bold;
    border-radius: 1em;
    border: 0;
    background-color: rgb(128, 128, 128);
    margin-top: 1em;
}

.signup--submit:hover{
    background-color: rgba(128, 128, 128, 0.8);
    cursor: pointer;
}

a{
    margin-top: 1em;
}